/* Global CSS */

html {
  font-size: 18px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: Quicksand, Roboto, Helvetica, Arial;
}

#react-root {

}

/* datgui styles */
.dg {
  font-weight: 500;
  text-shadow: none;
  font-family: Quicksand, Helvetica, Arial;
}
.dg.ac {
  z-index: 2000 !important;
}
.dg.a {
  margin-right: 0;
}
.dg .closed li.title {
  background: none;
  background-image: none !important;
  background-color: #000;
}
.dg.main .close-button {
  background-color: #404040 !important;
  color: white;
  font-size: 0.775rem;
  font-weight: 500;
  font-family: Quicksand;
  height: 24px !important;
  line-height: 24px !important;
}
.dg.main .close-button:hover {
  background-color: #404040;
}
